/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --red: #dc143c;
  --black: #111;
  --color-heart: #f7630c;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #4550db;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about-content,
.serv-content,
.skills-content,
.contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h2 {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

h2::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--black);
  transform: translateX(-50%);
}

h2::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: var(--main-color);
  padding: 0 5px;
  background: var(--white);
  transform: translateX(-50%);
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  background: var(--main-color);
  color: var(--white);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: none;
}

.card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  background: var(--main-color);
}

.card .box {
  transition: all 0.3s ease;
}

.card:hover .box {
  transform: scale(1.05);
}

.card i {
  font-size: 50px;
  color: var(--main-color);
  transition: color 0.3s ease;
}

.card:hover i {
  color: var(--white);
}

.card h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--main-color);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-width span {
  color: var(--main-color);
}

.navbar .logo a {
  color: var(--white);
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: var(--main-color);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: var(--white);
}

.navbar.sticky .logo a {
  color: var(--black);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  position: relative;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: all 0.3s ease;
}

.navbar.sticky .menu li a:hover::after {
  background: var(--white);
}

/* menu btn styling */
.menu-btn {
  color: var(--white);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--main-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn i {
  color: var(--white);
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
#home {
  display: flex;
  background: url(images/bg.jpg);
  height: 100vh;
  color: var(--white);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

#home .max-width {
  width: 100%;
  display: flex;
}

#home .max-width .row {
  margin-right: 0;
}

.home-content {
  position: relative;
}

.home-icon::before {
  content: "";
  position: absolute;
  left: 650px;
  top: 290px;
  width: 26px;
  height: 43px;
  z-index: 1;
  background-image: url(images/mouse.svg);
}

.home-content .text-1 {
  font-size: 27px;
}

.home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-content .text-3 span {
  color: var(--main-color);
  font-weight: 500;
}

/* about section styling */
#about .title::after {
  content: "who am I";
}

.about-content .left {
  width: 45%;
}

.about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 16px;
}

.about-content .right {
  width: 55%;
}

.about-content .right span {
  color: var(--main-color);
}

.about-content .right p {
  text-align: justify;
}

/* services section styling */
#services,
#projects {
  color: var(--white);
  background: var(--black);
}

#services .title::before,
#projects .title::before {
  background: var(--white);
}

#services .title::after,
#projects .title::after {
  background: var(--black);
  content: "What can i do";
}

.span-none {
  visibility: hidden;
}

/* skills section styling */

#skills .title::after {
  content: "study";
}

.skills-content .column {
  width: calc(50% - 30px);
}

.skills-content .left p {
  text-align: justify;
}

.skills-content button {
  font-size: 18px;
  padding: 8px 16px;
}

.skills-content button:hover {
  color: var(--main-color);
  background: none;
}

.bars {
  margin-bottom: 15px;
}

.info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--main-color);
}

.html::before {
  width: 90%;
}

.css::before {
  width: 80%;
}

.js::before {
  width: 50%;
}

.react::before {
  width: 50%;
}

/* projects section styling */
#projects .title::after {
  content: "portfolio";
}

#projects .card {
  width: 100%;
}

.card h3 {
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease;
}

.card:hover img {
  border-color: var(--white);
}

/* contact section styling */
#contact .title::after {
  content: "get in touch";
}

.contact-content .column {
  width: calc(50% - 30px);
}

.contact-content .left p {
  text-align: justify;
}

.contact-content .left .icons {
  margin: 10px 0;
}

.contact-content .row {
  display: flex;
  padding: 7px 0;
  align-items: center;
}

.contact-content .row .info {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.contact-content .row i {
  font-size: 25px;
  color: var(--main-color);
}

.contact-content .info .head {
  font-weight: 500;
}

.contact-content .info .sub-title {
  color: #333;
}

.contact-inst {
  color: var(--black);
}

.subtitle {
  color: var(--black);
}

form .fields {
  display: flex;
}

form .field,
form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

form .textarea {
  height: 80px;
  width: 100%;
}

form .name {
  margin-right: 10px;
}

form .field input,
form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

form .field input:focus,
form .textarea textarea:focus {
  border-color: #b3b3b3;
}

form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

form button:hover {
  color: var(--main-color);
  background: none;
}

/* footer section styling */
footer {
  background: var(--black);
  padding: 15px 23px;
  color: var(--white);
  text-align: center;
}

footer span a {
  color: var(--main-color);
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about-content .left img {
    height: 350px;
    width: 350px;
  }

  .home-icon::before {
    left: 552px;
    top: 290px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--black);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home-content .text-2 {
    font-size: 70px;
  }

  .home-content .text-3 {
    font-size: 35px;
  }

  .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  .about-content .column {
    width: 100%;
  }

  .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about-content .right {
    flex: 100%;
  }

  .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .skills-content .column,
  .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }

  .home-icon::before {
    content: "";
    left: 473px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home-content .text-2 {
    font-size: 60px;
  }

  .home-content .text-3 {
    font-size: 32px;
  }

  .home-content a {
    font-size: 20px;
  }

  .serv-content .card {
    width: 100%;
  }
  .home-icon::before {
    content: "";
    left: 345px;
    top: 305px;
  }
}

@media (max-width: 500px) {
  .home-content .text-2 {
    font-size: 50px;
  }

  .home-content .text-3 {
    font-size: 27px;
  }

  h3 {
    font-size: 15px;
  }

  form .fields {
    flex-direction: column;
  }

  form .name,
  form .email {
    margin: 0;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

@media (max-width: 391px) {
  .home-icon::before {
    content: "";
    left: 195px;
    top: 350px;
  }
}

/*-----mobile background --------*/
@media only screen and (max-width: 600px) {
  .home {
    background: url("images/banner-mobile-resized.jpg") no-repeat top;
  }
}
